Source: ros-testing-rosidl-default-runtime
Section: misc
Priority: optional
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-rosidl-default-runtime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-rosidl-generator-py, ros-testing-rosidl-runtime-c, ros-testing-rosidl-runtime-cpp, ros-testing-rosidl-typesupport-c, ros-testing-rosidl-typesupport-cpp, ros-testing-rosidl-typesupport-introspection-c, ros-testing-rosidl-typesupport-introspection-cpp, ros-testing-ros-workspace
Description: A configuration package defining the runtime for the ROS interfaces.
